{% extends "base.html" %}

{% block title %}Perros vs Gatos{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Perros vs Gatos</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/juego">Jugar</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>¡Bienvenidos a Perros vs Gatos!</h1>
        <p>Decide quién es el mejor de los dos!</p>
        <a class="btn btn-primary btn-lg" href="/juego" role="button">Comienza a Jugar</a>
    </div>
</div>
{% endblock %}
